html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    background-color: #eee;
    margin: 0px auto;
    font-family: 'Lato', sans-serif;
    line-height: 1.8;
}

